@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$bg-body-dark: #1d1f29;
$bg-header-dark: #20222f;
$bg-card-dark: #252b42;
$bg-card-dark-hover: #333a55;
$big-text-color-dark: #ffffff;
$small-text-color-dark: #8c98c6;
$green: #1eb589;
$red: #dc414c;
$blue: #178ff5;
$insta-gradient: linear-gradient(225deg, #df4896 0%, #ee877e 50.91%, #fdc366 100%);
$btn-gradient: linear-gradient(225deg, #40db82 0%, #388fe7 98.02%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: $bg-body-dark;
  font-family: "Inter", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 800px) {
    text-align: center;
  }
}

header {
  background-color: $bg-header-dark;
  padding: 36px 165px;
  width: 100%;
  height: 244px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  @media (max-width: 800px) {
    flex-direction: column;
    padding: 25px;
    padding-top: 36px;
    text-align: left;
    justify-content: flex-start;
  }
}

.left-side {
  h1 {
    color: $big-text-color-dark;
    text-align: center;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 8px;
  }
  p {
    color: $small-text-color-dark;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  @media (max-width: 800px) {
    margin-bottom: 50px;
  }
}

.right-side {
  display: flex;
  align-items: center;
  gap: 13px;
  height: fit-content;

  @media (max-width: 800px) {
    width: 100%;
    justify-content: space-between;
  }

  h5 {
    color: $small-text-color-dark;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .btn {
    position: relative;
    width: 48px;
    height: 24px;
    background: $btn-gradient;
    border-radius: 50px;
    display: flex;
    align-items: center;
    padding: 3px;
    cursor: pointer;

    .sircle {
      width: 18px;
      height: 18px;
      background-color: $bg-body-dark;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: left 0.3s ease;
    }
  }

  .btn.active .sircle {
    left: calc(100% - 23px);
  }
}

main {
  max-width: 1440px;
  height: fit-content;
  padding: 0 165px;
  margin-top: -100px;

  @media (max-width: 1440px) {
    padding: 0 50px;
    max-width: 900px;
    text-align: center;
  }

  @media (max-width: 800px) {
    padding: 20px;
    margin-top: -35px;
  }

  .media {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 46px;
    justify-content: center;

    @media (max-width: 1210px) {
    }

    @media (max-width: 400px) {
      flex-direction: column;
      align-items: center;
    }

    .media-card {
      flex: 1;
      min-width: 255px;
      max-width: 300px;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $bg-card-dark;
      padding: 32px;
      border-radius: 5px;
      position: relative;
      overflow: hidden;

      @media (max-width: 800px) {
        width: 40%;
      }

      &:hover {
        background-color: $bg-card-dark-hover;
      }

      .border {
        width: 100%;
        height: 4px;
        position: absolute;
        top: 0;
      }

      .f-border {
        background-color: #1da1f2;
      }

      .t-border {
        background-color: #178ff5;
      }
      .i-border {
        background: linear-gradient(225deg, #df4896 0%, #ee877e 50.91%, #fdc366 100%);
      }

      .y-border {
        background-color: #c4032b;
      }

      h3 {
        color: $small-text-color-dark;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 30px;
      }

      h1 {
        color: $big-text-color-dark;
        text-align: center;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -2px;
        margin-bottom: 9px;
      }

      h2 {
        color: $small-text-color-dark;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin-bottom: 25px;
      }

      h4 {
        color: $green;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        gap: 4px;
        align-items: center;
      }
    }
  }
}

.overview-text {
  color: $big-text-color-dark;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 24px;
}

.overview {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: 400px) {
    flex-direction: column;
    align-items: center;
  }

  .overview-card {
    flex: 1;
    min-width: 255px;
    max-width: 300px;
    width: 255px;
    background-color: $bg-card-dark;
    padding: 26px 31px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    &:hover {
      background-color: $bg-card-dark-hover;
    }

    .social-icones {
      width: 100%;
      height: fit-content;
      display: flex;
      justify-content: space-between;
      color: $small-text-color-dark;
      align-items: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 32px;
    }

    .numbers {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h1 {
        color: $big-text-color-dark;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      div {
        color: $green;
        display: flex;
        align-items: center;
        gap: 3px;
      }
    }
  }
}

#red-text {
  color: $red;
}

.light-body {
  background-color: #fff;
}

.light-header {
  background-color: #f7f9ff;
}

.light-card {
  background-color: #f1f3fa !important;
}

.light-mode-text {
  color: #1d1f29 !important;
}

.lightHover {
  &:hover {
    background-color: #e1e4f0 !important;
  }
}

.btn-active-color {
  background: #aeb3cb !important;
}
